.filter-main-container {
  background-color: #c3b6b6;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 10px;
  flex-flow: wrap;
}

.button-container {
  width: 110px;
  height: 30px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid;
  padding: 2px;
  margin: 5px;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
  transition: background-color 0.3s ease-in-out;
}

.button {
  background-color: rgba(128, 128, 128, 0.014);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.button-container:hover {
  background: linear-gradient(to right, #4CAF50, #2196F3); 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
}

.button:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  transform: scale(0);
  opacity: 0;
  transition: transform 0.3s ease-out, opacity 0.3s ease-out;
}

.button:hover:after {
  transform: scale(3);
  opacity: 1;
}

.button-container:hover {
  background-color: #13294b;
}
