.detailed-view-container {
  background-color: #0c1534;
  color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.next-prev-button-container {
  display: flex;
  justify-content: space-between;
}

.next-prev-button {
  background-color: rgba(255, 255, 255, 0.2);
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 5px;
  cursor: pointer;
  border-radius: 5px;
}

.next-prev-button:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.title {
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
}

.detailed-view {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.img-config {
  width: 300px;
  height: auto;
  border-radius: 10px;
}

.details-text {
  margin: 20px;
  max-width: 400px;
}

.heading {
  font-weight: bold;
}

.margin {
  margin: 15px 0;
}

.arrow {
  border: solid white;
  border-width: 0 4px 4px 0;
  display: inline-block;
  padding: 10px;
}

.right {
  transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
}
