.link-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    background-color: white;
  }
  
  .link {
    margin: 20px;
    color: black;
    cursor: pointer;
    width: 50%;
    font-weight: bold;
  }
  
  .footer {
    background-color: #e0e0e0;
  }