.Header {
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  justify-content: center;
  background-color: #f7f7f7;
  color: #1e416e;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  height: 150px;
}

.Header:hover {
  background-color: #e0e0e0; 
}

@keyframes textAnimation {
  0% { transform: scale(1); }
  50% { transform: scale(1.05); } 
  100% { transform: scale(1); }
}

.Header h1 {
  animation: textAnimation 2s infinite;
}
