.search-container {
  background: linear-gradient(to right, #e0eafc, #cfdef3);
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  margin: 20px auto;
  max-width: 1000px;
  transition: box-shadow 0.3s, background 0.3s;
}

.search-container:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.search-header {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

.search-input {
  width: calc(100% - 20px); 
  padding: 10px; 
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  box-sizing: border-box;
}

.search-input:focus {
  border-color: #2196F3;
}

.search-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 10px;
}

.search-options select {
  padding: 10px;
  border-radius: 10px;
  border: 2px solid #ccc;
  font-size: 16px;
  transition: border-color 0.3s;
}

.search-options select:focus {
  border-color: #2196F3;
}

.sort-options input[type="radio"] {
  margin-right: 10px;
}

.sort-options label {
  font-weight: bold;
}

.sort-options label:hover {
  cursor: pointer;
  color: #0056b3;
}

.sort-options label {
  transition: color 0.3s;
}

.gallery-container {
  border: 2px solid #ccc;
  padding: 20px;
  border-radius: 15px;
}
